<%- include('partials/header') %>
<div class="model-control d-flex justify-content-center my-5 px-3">
  <form class="model px-5" action="/edit/<%= user._id %> " method="post" >
    <h1 class="mb-5">Update Record</h1>
    <div class="input-controller">
      <label for="fname">Full Name</label>
      <input type="text" name="fullName" id="fname" value="<%= user.Name  %>" required/>
    </div>
    <div class="input-controller">
      <label for="mail">Email</label>
      <input type="email" name="email" id="mail" value="<%= user.Email  %>" required/>
    </div>
    <div class="input-controller">
      <label for="mobile">Phone</label>
      <input type="number" name="phone" id="mobile" value=<%= user.Phone %> required/>
    </div>
    <button type="submit">Update</button>
  </form>
</div>
<%- include('partials/footer') %>